.__mammal_variable__::before,
.__mammal_variable__::after {
  @apply text-xs text-blue-300 px-0.5;
}
.__mammal_variable__::before {
  content: "${{";
}
.__mammal_variable__::after {
  content: "}}";
}
.__mammal_variable__ {
  @apply inline-flex flex-row items-center bg-slate-200 hover:shadow active:shadow-sm active:bg-slate-300 font-bold rounded p-1;
  cursor: pointer;
  user-select: none;
}